//Background Setup

body {
    background-color: #335e51;
    padding: 20px;
    .background-element {
        width: 100%;
        margin: 0 auto;
        padding: 25px;
        background-color: white;
        border-radius: 25px;
    }
}