//content containers show and hide

#welcomeText.hidden {
    display: none;
}

.frame-container {
    display: none;

    &.visible {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
        background-color: #4fb178;
        padding: 10px;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        border-radius: 20px;
        margin-top: 6px;
        margin-bottom: 6px;
        border-color: #295e3f;

        @media screen and (max-width: 426px) {
            width: 100%;
            margin: 0;
        }     

        h2 {
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
    
        .twoFrame {
            width: 44vmax;
            background-color: white;
            padding: 20px;
            margin: 6px;
            border-radius: 15px;

            @media screen and (max-width: 426px) {
                width: 100vmin;
                margin: 6px;
            }
        }
    
        .threeFrame {
            width: 29vmax;
            background-color: white;
            padding: 20px;
            margin: 6px;
            border-radius: 15px;

            @media screen and (max-width: 426px) {
                width: 100vmin;
                margin: 6px;
            }
        }
    }



    // #tlAddFrame{
    //     text-align: left;
    //     font-size: 1em;
    //     color: black;
    // }
    // #tlShowFrame{
    //     font-size: 1em;
    //     color: black;
    // }
    // // #cqShowFrame{
    // // }
}



#welcomeText {
    @media screen and (max-width: 426px) {
        display: none;
    }
}

.welcomeShow {
    position: absolute;
    width: 95%;
    
    #wMessage {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2.35em;
        font-family: 'Montserrat', sans-serif;
        margin-top: 50px;

        
    }


}

#welcomeText.welcomeHide {
    display: none;

    & h1 {
        display: none;
    }
}
