//content containers show and hide

#welcomeText.hidden {
    display: none;
}

.frame-container {
    display: none;

    &.visible {
        display: flex;
        width: 100%;

    }

    #tlAddFrame{
        width: 33%;
        background-color: white;
        font-size: 2em;
        color: black;
    }
    #tlShowFrame{
        width: 33%;
        background-color: white;
        font-size: 2em;
        color: black;
    }
    #cqShowFrame{
        width: 33%;
        background-color: white;
    }
}



#welcomeText {
    @media screen and (max-width: 426px) {
        display: none;
    }
}

.welcomeShow {
    position: absolute;
    width: 95%;
    
    #wMessage {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2.35em;
        font-family: 'Montserrat', sans-serif;
        margin-top: 50px;

        
    }


}

#welcomeText.welcomeHide {
    display: none;

    & h1 {
        display: none;
    }
}

.toDoAll {
    position: static;
    width: 95%;

    #tlAddFrame {

    }
    #tlShowFrame {

    }
    #cqShowFrame {

    }

}





.twoFrameForm {
    display: flex;
    float: left;
    width: 45%;
    margin: 5px;
    background-color: white;
}