#msShowFrame {
    label#sectionLabel {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: black;
    }
    .streamSelect {
        background-color: #4fb178;
        border: outset;
        border-width: 3px;
        border-color: #4fb178;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        color: white;
        width: 32.5%;

        @media screen and (max-width: 425px) {
            text-align: center;
            width: 100%;
        }

        img {
            border-radius: 10px;
            margin-left: 15px;
            @media screen and (max-width: 425px) {
                margin-left: 30px;
            }
        }
    }
}

.stream-container {
    display: none;

    &.visible {
        margin-top: 8px;
        display: flex;
        width: 100%;

        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            margin-top: 18px;
            margin-bottom: auto;
            border-radius: 20px;
            @media screen and (max-width: 425px) {
                margin-top: 5px;
            }
        }
    }
}

