//Stopwatch
//Original code referenced from: https://tinloof.com/blog/how-to-build-a-stopwatch-with-html-css-js-react-part-1/
#swShowFrame {
    .stopwatch {
        display: grid;
        justify-items: center;
        grid-row-gap: 23px;
        width: 100%;
        padding-top: 25px;
    }
  
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vmin;
        height: 70vmin;
        border: 20px solid;
        border-radius: 50%;
        border-color: #4fb178;
        border-style: outset;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        @media screen and (max-width: 426px) {
            width: 60vmin;
            height: 60vmin;
        }
    }
    
    .time {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 48px;

        @media screen and (max-width: 426px) {
            font-size: 24px;
        }
    }
    
    .timerControls {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 10%;
        width: 80%;

        @media screen and (max-width: 426px) {
            width: 10vmin;
            margin: 0;
        }

        .smallButton {
            
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            text-align: center;
            width: 100px;
            height: 50px;
            cursor: pointer;
            background: transparent;
            background-color: #4fb178;
            color: white;
            padding-left: 1.6em;
            padding-top: .6em;
            border: outset;
            border-width: 3px;
            border-color: #4fb178;
            border-radius: 10px;
            margin: 0;
            outline: none;

            @media screen and (max-width: 426px) {
                width: 70px;
                padding-left: .7em;
                padding-right: .7em;
                
            }
        }
    }
}  

//Original code referenced from: https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/
//Timer
#ptShowFrame {
    label {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        width: 60%;
        text-align: center;
        font-size: 1.5em;

        @media screen and (max-width: 426px) {
            width: 100%;
            font-size: 1.25em;
            padding: 0;
            display: flex;
            flex: wrap;
            justify-content: center;
            
        }

    }
    button {
        display: inline-block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        width: 100px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        background-color: #4fb178;
        color: white;
        border: outset;
        border-width: 3px;
        border-color: #4fb178;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 10px;
        outline: none;

        @media screen and (max-width: 426px) {
            font-size: 1.25em;
            padding: 0;
            margin: 0 auto;
            margin-left: 2.5em;
            
        }
    }
    .base-timer {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        @media screen and (max-width: 426px) {
            width: 60vmin;
            height: 60vmin;
        }
    }
    
    .base-timer__svg {
        transform: scaleX(-1);
    }
    
    .base-timer__circle {
        fill: none;
        stroke: none;
    }
    
    .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: grey;
    }
    
    .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
    }
    
    .base-timer__path-remaining.green {
        color: #4fb178;
    }
    
    .base-timer__path-remaining.orange {
        color: #295e3f;
    }
    
    .base-timer__path-remaining.red {
        color: black;
    }
    
    .base-timer__label {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        @media screen and (max-width: 426px) {
            width: 60vmin;
            height: 60vmin;
        }
    }

    .smallButton {
        display: inline-block;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        text-align: center;
        width: 100px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        background-color: #4fb178;
        color: white;
        border: outset;
        border-width: 3px;
        border-color: #4fb178;
        border-radius: 10px;
        margin: 0;
        margin-top: 25px;
        margin-left: 3.5em;
        outline: none;

        @media screen and (max-width: 426px) {
            width: 100%;
            height: 40px;
            margin: 5px 0;
        }   
    }
}